name: Test pull request
on: pull_request

jobs:
  run-python-tests:
    name: Run Python tests
    uses: logikal-io/github-workflows/.github/workflows/run-python-tests.yml@v6
    with:
      fetch-depth: 0
    permissions:
      contents: read
      id-token: write
    secrets: inherit
